#current-weather-box-contents {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  min-width: 270px;
}

#current-weather-middle-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#current-icon-status-container {
  display: flex;
  width: 100%;
  height: 100%;
}

#current-icon-status-container svg {
  min-width: 90px;
  max-width: 200px;
  min-height: 100px;
}

#current-weather-temp-container {
  display: flex;
  flex-direction: row;
}

#current-weather-in-text {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-weight: 350;
  font-family: "Roboto", sans-serif;
}

#current-weather-city-name {
  padding-bottom: 10px;
  max-width: 260px;
  max-height: 90px;
  overflow-x: hidden;
  color: white;
  font-weight: 350;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

#current-time {
  color: white;
  font-weight: 350;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
}
#current-weather-condition-text {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 400;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

#current-weather-bottom-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bottom-element-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-height: 70px;
}

#temp-and-fahrenheit-box {
  display: flex;
  flex-direction: row;
}

#temp {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 350;
  font-size: 4em;
  font-family: "Roboto", sans-serif;
}

#minus-symbol {
  padding-right: 5px;
}

#fahrenheit-symbol {
  padding-top: 5px;
  color: white;
  font-size: 1em;
}

#humidity-value-and-percent-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-left: 2px;
  color: rgb(255, 254, 254);
  font-weight: 350;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
}
#humidity-value {
  color: rgb(255, 254, 254);
  font-size: 1.2em;
}

#humidity-percent-sign {
  color: white;
  font-size: 0.8em;
}

#humidity-icon {
  position: relative;
  cursor: help;
  color: white;
  font-size: 2.5em;
}

#humidity-icon::after {
  position: absolute;
  top: -75%;
  left: 40%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 5px;
  background-color: #33343f;
  padding: 5px;
  content: "Humidity";
  color: rgb(255, 255, 255);
  font-size: 0.4em;
  white-space: nowrap;
}

#humidity-icon:hover {
  color: #03b5f0;
}

#humidity-icon:hover::after {
  opacity: 1;
}

#wind-value-mph-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: rgb(255, 254, 254);
  font-weight: 350;
  font-size: 1.4em;
  font-family: "Roboto", sans-serif;
}

#wind-mph {
  color: white;
  font-size: 0.5em;
}

#wind-icon {
  position: relative;
  bottom: 8px;
  cursor: help;
  width: 50%;
  color: white;
}

#wind-icon-message {
  position: relative;
  color: rgb(19, 18, 18);
  font-size: 1em;
}

#wind-icon-message::after {
  position: absolute;
  top: -65%;
  left: 45%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 5px;
  background-color: #33343f;
  padding: 5px;
  content: "Wind Speed";
  color: white;
  font-size: 1em;
  white-space: nowrap;
}

#wind-icon-message:hover::after {
  opacity: 1;
}

#sun-tracker-message {
  position: relative;
  cursor: help;
  max-height: 75px;
  color: rgb(19, 18, 18);
  font-size: 1em;
}

#sun-tracker-message::after {
  position: absolute;
  top: -45%;
  left: 55%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 5px;
  background-color: #33343f;
  padding: 5px;
  content: "Sun Position Tracker";
  color: white;
  font-size: 1em;
  white-space: nowrap;
}

#sun-tracker-message:hover::after {
  opacity: 1;
}

#loading-text-and-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
}

#loading-text {
  padding-right: 20px;
  padding-bottom: 10px;
  color: white;
  font-size: 2em;
  font-family: "Orbitron", sans-serif;
}

#error-message-current-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 110px;
  color: rgb(22, 22, 22);
  font-size: 2em;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}
