#current-weather-box-contents {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#current-weather-middle-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

#current-weather-temp-container {
  display: flex;
  flex-direction: row;
}

#current-weather-city-name {
  padding-bottom: 10px;
  max-height: 90px;
  overflow: hidden;
  color: white;
  font-size: 1.5em;
  text-transform: capitalize;
}

#temp-loading-text {
  font-size: 0.5em;
  padding-right: 20px;
  padding-bottom: 10px;
  color: #27ff00;
}

#current-time {
  color: white;
  font-size: 1.2em;
}
#current-weather-condition-text {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 1em;
  text-transform: capitalize;
}

#current-weather-bottom-row-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#temp-and-fahrenheit-box {
  display: flex;
  flex-direction: row;
}

#temp {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fahrenheit-symbol {
  color: white;
  font-size: 1em;
}

#bottom-current-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#humidity-value-and-percent-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-left: 2px;
  color: rgb(255, 254, 254);
  font-size: 1.2em;
}
#humidity-value {
  color: rgb(255, 254, 254);
  font-size: 1.2em;
}

#humidity-percent-sign {
  color: white;
  font-size: 0.9em;
}

#humidity-icon {
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 2em;
}

#humidity-icon::after {
  position: absolute;
  top: -90%;
  left: 100%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 5px;
  background-color: #33343f;
  padding: 5px;
  content: "Humidity";
  color: white;
  font-size: 0.5em;
  white-space: nowrap;
}

#humidity-icon:hover::after {
  opacity: 1;
}

#wind-value-mph-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: rgb(255, 254, 254);
  font-size: 1.2em;
}

#wind-mph {
  color: white;
  font-size: 0.7em;
}

#wind-icon {
  position: relative;
  cursor: pointer;
  padding-top: 4px;
  color: white;
  font-size: 1.5em;
}

@keyframes shift {
  33% {
    transform: translateX(-15px);
  }
  66% {
    transform: translateX(15px);
  }
}

#wind-icon:hover {
  animation: shift 1s ease-in-out infinite;
}

#wind-icon-message {
  position: relative;
  color: rgb(19, 18, 18);
  font-size: 1em;
}

#wind-icon-message::after {
  position: absolute;
  top: -110%;
  left: 45%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 5px;
  background-color: #33343f;
  padding: 5px;
  content: "Wind Speed";
  color: white;
  font-size: 1em;
  white-space: nowrap;
}

#wind-icon-message:hover::after {
  opacity: 1;
}

#rain-value-and-percent-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: rgb(255, 254, 254);
  font-size: 1.2em;
}

#rain-value {
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

#rain-percent-sign {
  color: white;
  font-size: 0.7em;
}

#rain-icon {
  position: relative;
  transition: color 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  color: white;
  font-size: 1.8em;
}

#rain-icon:hover {
  color: #02137e;
}

#rain-icon::after {
  position: absolute;
  right: -160%;
  bottom: 130%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 5px;
  background-color: #33343f;
  padding: 5px;
  content: "Rain Chance";
  color: white;
  font-size: 0.49em;
  white-space: nowrap;
}

#rain-icon:hover::after {
  opacity: 1;
}

#error-message-current-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding-top: 50px;
  color: rgb(22, 22, 22);
  font-size: 2em;
  font-family: fantasy;
  text-align: center;
}
