#forecast-box-contents-container {
  padding: 20px;
  min-width: 270px;
  min-height: 280px;
  max-height: 356px;
}

#contents-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#forecast-text-and-day-selector-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#forecast-text {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

#day-selector-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 8px;
  background-color: #133f61fe;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1px;
  max-width: 120px;
  max-height: 50px;
}

#day-param-select {
  flex-direction: row;
  cursor: pointer;
  border-radius: 7px;
  background-color: #afb0b7;
  padding: 4.5px;
  max-height: 40px;
  font-size: 0.4em;
}

#day-param-select.clicked {
  cursor: not-allowed;
  background-color: #196cf1;
  color: rgb(240, 232, 232);
}

#forecast-days-container {
  max-height: 230px;
  overflow-y: scroll;
}

#clickable-days-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#clickable-forecast-day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  max-height: 23px;
}

#clickable-forecast-day:hover {
  border-radius: 8px;
  background-color: #ffffff2a;
}

#clickable-forecast-day.dayClicked {
  border-radius: 8px;
  background-color: #163f5e;
}

#year-month-day-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  color: white;
  font-weight: 350;
  font-size: 0.55em;
  font-family: "Roboto", sans-serif;
}

#icon-and-high-low-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#temp-high-low-and-f-symbol {
  display: flex;
  justify-content: center;
  align-items: end;
  align-items: center;
  gap: 5px;
}

#temp-high-low-styling {
  color: rgb(255, 255, 255);
  font-weight: 350;
  font-size: 0.58em;
  font-family: "Roboto", sans-serif;
}

#fahrenheit-symbol {
  font-size: 0.65em;
}

#weather-icon-styling {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 25px;
  max-height: 25px;
  pointer-events: none;
}

#forecast-days-container.hide-scrollbar {
  overflow-y: hidden;
}

#forecast-days-container::-webkit-scrollbar {
  width: 10px;
}

#forecast-days-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #545459;
}

#forecast-days-container::-webkit-scrollbar-thumb {
  border: solid 1px black;
  border-radius: 10px;
  background: #03b5f0;
}

#forecast-days-container::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

#loading-icon-forecast-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

#error-message-forecast-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  pointer-events: none;
  font-size: 1em;
  font-family: fantasy;
}
