.mapbox-component {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border: rgb(50, 102, 136) solid 3px;
  border-radius: 20px;
  background-color: #aea7b7;
  /* height: 280px; */
  min-width: 260px;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 12px;
  border-radius: 4px;
  background-color: rgb(35 55 75 / 90%);
  padding: 6px 12px;
  color: #fff;
  font-family: monospace;
}
