* {
  margin: 0;
  padding: 0;
}

#background-video {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#whole-page-contents-plus-sidebar {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#whole-page-contents-without-sidebar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(#3f7eafe2, #cce7fffa);
  padding: 30px 30px 30px 30px;
  max-width: 1400px;
  min-height: 725px;
  overflow-x: auto;
  overflow-y: hidden;
}

#side-bar {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #276da2fe;
  width: 80px;
  min-height: 785px;
  font-size: 1em;
}

#side-bar-icon {
  padding-left: 5px;
  font-size: 1em;
}

#side-bar-home-icon {
  justify-content: center;
  align-items: center;
  transition: text-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: #000000;
  background-color: transparent;
  padding-top: 40px;
  color: #000000;
  font-size: 2.5em;
}

#parent-of-flex-grid-container {
  display: flex;
  flex: 1;
  gap: 10px;
  background-color: transparent;
}

#flex-grid-containers-total {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

#grid-row-w-search-bar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  flex: 1;
  gap: 10px;
  background-color: transparent;
  height: 30px;
}

#map-uv-container-invisible {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 10px;
}

#grid-row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  background-color: transparent;
  /* min-height: 44%; */
  max-height: 326px;
}

#current-weather-box {
  display: flex;
  flex: 0.33;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-color: #000000;
  border-radius: 20px;
  background-color: #235d89fe;
  font-weight: 600;
}

#map-and-uv-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 10px;
  background-color: transparent;
  /* max-width: 1040px; */
}

#mapbox-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: transparent;
}

#uv-box {
  display: flex;
  flex: 0.33;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #437195e6;
}

#forecast-box {
  display: flex;
  flex: 0.33;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #437195e6;
  min-height: 300px;
  max-height: 356px;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
}

#summary-box {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #437195e6;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
}

.capitalize-text {
  text-transform: capitalize;
}

/* @media (max-height: 750px) {
  #whole-page-contents-plus-sidebar {
    padding-top: 0px;
  }
}

@media (max-width: 1110px) {
  #flex-grid-containers-total {
    padding-top: 20px;
  }
}

@media (max-width: 1110px) {
  #whole-page-contents-without-sidebar {
    border: 5px solid #276da2fe;
  }
}

@media (max-width: 1110px) {
  #side-bar {
    min-height: 740px;
  }
}  */
