#summary-container-total {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#chart-hard-stop {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, #2e3192 30%, rgba(255, 253, 253, 0) 70%);
  /* overflow-x: scroll; */
  overflow-y: hidden;
}

#victory-chart-container {
  position: relative;
  z-index: 1;
  cursor: grab;
  border-radius: 20px;
  height: 100%;
  overflow-y: hidden;
  font-family: "Roboto", sans-serif;
}

#text-icon-options-container {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: space-between;
  gap: 5px;
  z-index: 10;
  cursor: default;
  border-radius: 5px;
  padding: 18px;
}

#summary-and-icon-container {
  display: flex;
  gap: 10px;
}

#summary-text {
  padding-top: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.6em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

#buttons-container-position {
  position: relative;
  z-index: 11;
}

#buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 7px;
  background-color: #133f61fe;
  padding: 5px;
  padding-right: 4px;
  padding-left: 4px;
  width: 120px;
}

#button {
  cursor: pointer;
  border-radius: 6px;
  background-color: #afb0b7;
  padding: 2.5px;
  font-size: 0.8em;
}

#button.clicked {
  cursor: not-allowed;
  background-color: #196cf1;
  color: rgb(240, 232, 232);
}

#loading-icon-summary-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

#icon-and-label-container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: help;
  box-shadow: 0 0 0 1px rgb(13, 13, 13);
  border: solid 5px #03b5f0;
  border-radius: 50px;
  background-color: rgb(67, 63, 63);
  padding: 10px;
  height: 25px;
}

#popup-menu {
  word-wrap: break-word;
  position: absolute;
  top: 65px;
  left: 18px;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  transition: opacity 0.4s ease, visibility 0.2s ease;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.742);
  border: solid 2px #03b5f0;
  border-radius: 8px;
  background-color: #333;
  padding: 8px;
  width: 102px;
  color: #fff;
  font-size: 14px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  hyphens: auto;
  text-align: left;
}

#icon-and-label-container:hover #popup-menu {
  visibility: visible;
  opacity: 1;
}

#selected-weather-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

#selected-weather-label {
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  text-transform: capitalize;
  white-space: nowrap;
}
