#uv-box-contents {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: transparent;
  padding: 15px;
}

#uv-text-and-gauge-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(48, 49, 49);
  padding: 5px;
  max-height: 178px;
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

#uv-index-text {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

#risk-text {
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}

#condition-info-container {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
  max-height: 120px;
}

#minutes-to-burn-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border: 3px solid rgb(11, 192, 71);
  border-radius: 7px;
  background-color: rgb(62, 73, 79);
  padding: 5px;
  max-width: 96px;
  max-height: 79px;
  pointer-events: none;
  color: rgb(255, 255, 255);
  font-size: 0.99em;
  line-height: 1.2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  text-align: center;
}

#spf-and-sun-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 79px;
}

#spf-text {
  display: flex;
  flex: 1;
  align-items: center;
  border: 3px solid rgb(8, 182, 188);
  border-radius: 7px;
  background-color: rgb(62, 73, 79);
  padding: 4px;
  max-height: 35px;
  pointer-events: none;
  color: rgb(255, 255, 255);
  font-size: 0.85em;
  line-height: 1.5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  text-align: center;
}

#sun-duration {
  display: flex;
  flex: 1;
  align-items: center;
  border: 3px solid rgb(8, 182, 188);
  border-radius: 7px;
  background-color: rgb(62, 73, 79);
  padding: 3px;
  max-height: 35px;
  pointer-events: none;
  color: rgb(255, 255, 255);
  font-size: 0.85em;
  line-height: 1.5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  text-align: center;
}

#precautions {
  display: block;
  align-items: center;
  cursor: default;
  border: 3px solid rgb(144, 21, 221);
  border-radius: 7px;
  background-color: rgb(62, 73, 79);
  padding: 5px;
  max-width: 96px;
  max-height: 78px;
  overflow-x: hidden;
  overflow-y: auto;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  hyphens: auto;
  text-align: left;
}

#loading-icon-uv-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#precautions::-webkit-scrollbar {
  width: 7px;
}

#precautions::-webkit-scrollbar-thumb {
  border: solid 1px black;
  border-radius: 10px;
  background: #03b5f0;
}

#precautions::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  background-color: #03d0f0;
}

#precautions::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgb(97, 108, 114);
}
