#custom-address-autofill-result {
  position: absolute;
  top: 43px;
  z-index: 95;
  cursor: pointer;
  border: solid 4px;
  border-color: #00f0f8;
  border-radius: 8px;
  background-color: #333;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

#custom-address-autofill-result ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#custom-address-autofill-result li {
  margin: 0;
  border-bottom: 2px solid #00f0f884;
  padding: 5px 10px;
  font-size: 1.15em;
}

#custom-address-autofill-result li:last-child {
  border-bottom: none;
}
