#search-Bar-Container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
  border: 5px solid #000000;
  border-color: #bbb8b8;
  border-radius: 30px;
  background-color: #276da291;
  padding: 20px;
  min-width: 310px;
  height: 46px;
  font-size: 1em;
  text-align: center;
}

#search-Bar-Container:hover {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-color: #ffffff;
}

#search-Bar-Container:focus-within {
  border-color: #ffffff;
}

#search-City-Text-Field-Container {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  text-align: left;
}

#search-City-Text-Field {
  display: flex;
  flex: 1;
  justify-content: center;
  outline: none;
  border-color: transparent;
  background-color: transparent;
  max-width: 200px;
  height: 30px;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.5em;
  text-align: left;
  text-transform: capitalize;
}

#search-City-Text-Field::placeholder {
  color: #e0e0e0ba;
}

#search-Icon-Button {
  position: relative;
  align-items: center;
  transform: scaleX(-1);
  transition: text-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: #000000;
  background-color: transparent;
  color: #a3a3a3;
  font-weight: 500;
  font-size: 0.5em;
  line-height: 30%;
  font-family: inherit;
}

#search-Icon-Button:hover {
  background-color: transparent;
  color: #ffffff;
}

#search-Icon-Button:disabled:hover {
  cursor: not-allowed;
  color: #a3a3a3;
}

#search-Icon-Button-Sizing {
  width: 25px;
  height: 25px;
}
