.background-Landing {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  z-index: -99;
  background-color: rgb(27, 25, 25);
}

.video-Landing {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

#entire-landing-page {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 1000px;

  /* padding-top: 150px; */
}

#flex-box-Landing {
  display: flex;

  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */

  max-width: 524px; /* Maximum width of the container */
}

.weather-app-container-Landing {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
  border: solid 8px rgb(255, 255, 255);
  border-radius: 20px;
  background: linear-gradient(#3274a6, #768087);
  padding: 30px;
  padding-top: 80px;
  padding-bottom: 50px;
  width: 600px;
  height: 600px;
  color: #ffffff;
  text-align: center;
}

#app-title {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  font-size: 2.5em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#form-and-boxes-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#enter-City-Name-Field {
  display: flex;
  flex: 1;
  transition: border-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: 5px solid #bbb8b8;
  border-radius: 30px;
  background-color: #212020;
  min-width: 400px;
  min-height: 55px;
  /* max-height: 55px; */
  color: #ffffff;
  font-size: 1.8em;
  text-align: center;
  text-transform: capitalize;
}

#enter-City-Name-Field::placeholder {
  color: #c5c4c4ba;
}

#enter-City-Name-Field:hover {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-color: #ffffff;
}

#enter-City-Name-Field:focus {
  outline: none;
  border-color: #ffffff;
}

#get-weather-button {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: text-shadow 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border: 6px solid rgb(2, 85, 127);
  border-radius: 20px;
  background-color: #212020;
  padding: 20px;
  /* min-width: 200px; */
  max-height: 100px;
  color: #fff;
  font-weight: 500;
  font-size: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#get-weather-button:hover,
#get-weather-button:focus {
  border: 6px solid;
  border-color: rgb(3, 137, 204);
  text-shadow: 0 0 10px rgb(6, 201, 255);
}

#error-message-landing {
  padding-bottom: 25px;
  color: red;
  font-size: 2em;
  font-family: fantasy;
  text-align: center;
}
